*{
    box-sizing: border-box;
}

#app{
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    /* max-height: 90%; */
    color:red;
    border: 1px solid red;
    position: relative;
}
#content{
    position: absolute;
    top: 45px;
    left:75px;
    right:75px;
    height: 90%;
    max-width: 80%;
}
#content #header{
    border: 1px solid red;
    min-height: 10%;
    box-shadow: 0 4px 8px rgb(0,0,0,0.5);
}
#content #body{
    margin-top: 10px;
    min-height: 80%;
    /* border: 1px solid red; */
}
